.square div{
    width: 400px;
    height: 400px;
    color: white;
    margin: 30px;
    background-color: beige;
  }
  .assign-2-shape-1 {
    background-image: url(./css-assignment-5-8.png);
    background-repeat: no-repeat;
  }
  .assign-2-shape-2 {
    background-image: url(./css-assignment-5-8.png);
    background-repeat: repeat-y;
background-position: right;  
}
  .assign-2-shape-3 {
    background-image: url(./css-assignment-5-8.png);
    background-repeat: repeat-x;
    background-position: bottom;  

  }
  .assign-2-shape-4 {
    background-image: url(./css-assignment-5-8.png);
    background-repeat: repeat;
  }
  