.parent .child .title {
  color: red;
}
.parent .title {
  color: blue;
}
p,
.title {
  color: green;
}
.one,
.two,
.three,
.four {
  background-color: rgb(173, 4, 4);
  color: white;
  font-size: 40px;
  padding: 6px 0px 0px 15px;
  margin: 32px;
  height: 67px;
  width: 300px;
  width: fit-content;
  overflow: hidden;
}
