.package div {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  color: white;
}
.assign-1-shape-1 {
  background-color: blueviolet;
  background-color: rgb(​ 138, ​ 43, ​ 226);
  background-color: ​#8a2be2;
  background-color: hsl(​271.15°, ​ 75.93%, ​ 52.75%);
}

.assign-1-shape-2 {
  background-color: #8a2be2;
  opacity: 0.5;
}
.assign-1-shape-3 {
  background-color: #8a2be2;
  opacity: 0.1;
}
